{
  "log": {
    "level": {{ jsonMarshal .LogLevel }},
    "output": "/opt/var/log/sign-craze/sing-box.log",
    "timestamp": true
  },
  "inbounds": [
    {
      "type": "tun",
      "tag": "tun-in",
      "interface_name": {{ jsonMarshal .TUNInterfaceName }},
      "address": {{ jsonMarshal .TUNAddresses }},
      "mtu": {{ .TUNMTU }},
      "auto_route": false,
      "stack": "system"
    }
  ],
  "outbounds": [
{{ range $i, $o := .Outbounds }}{{ if $i }},{{ end }}
    {{ jsonMarshal $o }}
{{ end }},
    {
      "type": "direct",
      "tag": "direct"
    }
  ],
  "route": {
    "default_domain_resolver": "local",
    "rules": [
      {
        "inbound": "tun-in",
        "action": "resolve",
        "strategy": "prefer_ipv4"
      },
      {
        "inbound": "tun-in",
        "action": "sniff"
      },
      {
        "protocol": "dns",
        "action": "hijack-dns"
      }{{ if .Routing.GeoSiteDirect }},
      {
        "rule_set": {{ jsonMarshal .Routing.GeoSiteDirect }},
        "outbound": "direct"
      }{{ end }}{{ if .Routing.GeoSiteProxy }},
      {
        "rule_set": {{ jsonMarshal .Routing.GeoSiteProxy }},
        "outbound": {{ jsonMarshal .DefaultOutboundTag }}
      }{{ end }}
    ],
    "rule_set": {{ jsonMarshal .RuleSets }},
    "final": {{ if .Routing.FinalOutbound }}{{ jsonMarshal .Routing.FinalOutbound }}{{ else }}{{ jsonMarshal .DefaultOutboundTag }}{{ end }},
    "auto_detect_interface": true
  },
  "dns": {
    "servers": [
      {
        "type": "tls",
        "tag": "remote",
        "server": "8.8.8.8",
        "detour": {{ jsonMarshal .DefaultOutboundTag }}
      },
      {
        "type": "udp",
        "tag": "local",
        "server": "223.5.5.5",
        "detour": "direct"
      }
    ],
    "rules": [{{ if .Routing.GeoSiteDirect }}
      {
        "rule_set": {{ jsonMarshal .Routing.GeoSiteDirect }},
        "server": "local"
      }
    {{ end }}],
    "final": "remote"
  }
}
