{
  "log": {
    "level": {{ jsonMarshal .LogLevel }},
    "output": "/opt/var/log/sign-craze/sing-box.log",
    "timestamp": true
  },
  "inbounds": [
{{- if .Inbounds }}
{{- range $i, $in := .Inbounds }}{{ if $i }},{{ end }}
    {{ jsonMarshal $in }}
{{- end }}
{{- else }}
    {
      "type": "tun",
      "tag": "tun-in",
      "interface_name": {{ jsonMarshal .TUNInterfaceName }},
      "address": {{ jsonMarshal .TUNAddresses }},
      "mtu": {{ .TUNMTU }},
      "auto_route": false,
      "stack": "gvisor"
    }
{{- end }}
  ],
  "outbounds": [
{{- range $i, $o := .Outbounds }}{{ if $i }},{{ end }}
    {{ jsonMarshal $o }}
{{- end }}
{{- if not .HasDirect }}{{ if .Outbounds }},{{ end }}
    {
      "type": "direct",
      "tag": "direct"
    }
{{- end }}
  ],
  "route": {
    "default_domain_resolver": "local",
    "rules": [
{{- range $i, $r := .BaseRules }}{{ if $i }},{{ end }}
      {{ $r }}
{{- end }}
{{- range $i, $r := .UserRules }},
      {{ $r }}
{{- end }}
    ],
    "rule_set": {{ jsonMarshal .RuleSets }},
    "final": {{ jsonMarshal .Final }},
    "auto_detect_interface": true
  },
  "dns": {
    "servers": [
      {
        "type": "tls",
        "tag": "remote",
        "server": "8.8.8.8"{{ if ne .Final "direct" }},
        "detour": {{ jsonMarshal .Final }}{{ end }}
      },
      {
        "type": "local",
        "tag": "local"
      }
    ],
    "rules": [
{{- if .DNSDirectRuleSets }}
      {
        "rule_set": {{ jsonMarshal .DNSDirectRuleSets }},
        "server": "local"
      }
{{- end }}
    ],
    "final": "remote"
  },
  "experimental": {
    "clash_api": {
      "external_controller": "127.0.0.1:9094",
      "default_mode": "rule"
    },
    "cache_file": {
      "enabled": true,
      "store_mode": true
    }
  }
}
